.horizontal{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.foto{
    width: 20%;
    height: 20%;
}

#backGround{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}