.horizontal{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.foto{
    width: 200px;
    height: 200px;
}

#backGround{
    background-color: bisque;
}